* {
    margin: 0;
    padding: 0;
}

:root {

    --colorLg: white;
    --colorDk: black;
    --colorL: #5DE1E6;
    --color1: #c5fff8;
    --color2: #96efff;
    --color3: #7b66ff;
    --color4: #ff7518;
}

body {
    background-color: var(--colorLg);
}

ul {
    list-style: none;
}

.navbarSection {
    z-index: 1;
    margin-bottom: 20px;
    border-bottom: 2px solid var(--color1);
    background-color: var(--colorLg);
}

.navbar-brand {
    color: var(--colorL);
}

.navbar-nav a {
    margin: 5px;
    font-size: large;
    color: var(--color4);
}

.navbar-nav a:hover {
    color: var(--color4);
    border-bottom: 2px solid var(--color4);
}

.active {
    font-size: large;
    border-bottom: 2px solid;
    background-color: var(--color1);
}

.navbar-brand {
    font-size: 28px;
}

.button {
    color: var(--colorDk);
    background-color: var(--color4);
}

.button:hover {
    color: var(--colorDk);
    border: 2px solid var(--color4);
    background-color: var(--color1);
}

.header {
    background-image: url("../Assets/Image/img-header.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    inline-size: 100%;
    aspect-ratio: 16/9;
    display: grid;
    justify-items: center;
    align-items: start;
    grid-row: 1fr 1fr 3fr;
    padding: auto;
}

.rating {
    display: inline-flex;
}

.rating img {
    width: 16px;
    height: 16px;
    margin: 2px;
}

/* ------- *** Search Box *** ------- */
.searchBox {
    display: grid;
    grid-template-columns: 3fr 1fr;
    width: 300px;
    height: 40px;
    margin: auto;
    border-radius: 22px;
    border: 2px solid var(--color3);
}

.searchBox input {
    padding-left: 10px;
    font-family: var(--font3);
    border-radius: 22px 0 0 22px;
    border: var(--color3);
}

.searchBox input:focus {
    outline: none;
}

.searchBox button {
    border: var(--color3);
    background-color: var(--color4);
    font-family: var(--font2);
    border-radius: 0 22px 22px 0;
}

.searchBox a {
    color: var(--colorDk);
}

.sloganSection {
    color: var(--color4);
}

/* ------- ***  Why Section *** ------- */
.whySection {
    background-color: var(--color1);
}

.whySection h2,
.whySection h3 {
    color: var(--color4);
}

.whySection .box {
    padding: 8px;
    border-radius: 10px;
    box-shadow: 4px 2px;
    border: 2px solid;

}

.whySection .img {
    width: 100%;
    height: 60%;
    border-radius: 5px;

}

/* ------- *** Service Info Section *** ------- */
.serviceInfoSection h2,
.serviceInfoSection h3 {
    color: var(--color4);
}

/* ------- *** Testimonial Section *** ------- */
.testimonial h3,
.testimonial h4 {
    color: var(--color4);
}

.testimonial .box {
    padding: 8px;
    border-radius: 10px;
    border: 2px solid;
    border: 2px solid var(--color3);
    background-color: var(--color1);
}

.testimonial img {
    border-radius: 50%;
}


/* ------- *** Footer Section *** ------- */
.footerSection {
    background-color: var(--color1);
}

.footerSection p,
.footerSection a {
    color: var(--colorDk);
}


.footerSection .copyrightSection {
    padding: 5px;
    background-color: var(--color2);
}

/**** Service Section *****/
.serviceScroll {
    display: grid;
    height: 150px;

    grid-auto-columns: 35%;
    grid-auto-flow: column;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
}

.serviceBox {
    display: grid;
    align-items: center;
    justify-items: center;
}

.serviceBox img {
    width: 80px;
    height: 80px;
    border-radius: 5%;
}

.serviceBox p {
    font-size: 12px;
}

.serviceScroll::-webkit-scrollbar {
    width: 0;
}

.serviceScroll2 {
    display: grid;
    height: 120px;

    grid-auto-columns: 27%;
    grid-auto-flow: column;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
}

.serviceCircle {
    display: grid;
    align-items: center;
    justify-items: center;
}

.serviceCircle img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.serviceCircle p {
    font-size: 9px;
}

.serviceScroll2::-webkit-scrollbar {
    width: 0;
}

/* ## Modal Box for view and request services ## */
.modal {
    display: none;
    margin: auto;
    padding-top: 120px;
    z-index: 1;
    background-color: rgb(0, 0, 0, 0.6);
}

.searchModal {
    z-index: 1;
    background-color: rgb(0, 0, 0, 0.6);
}

.modalBox,
.requestModal {
    margin: auto;
    background-color: var(--colorLg);
    padding: 20px;
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.modalBox img {
    inline-size: 300px;
    aspect-ratio: 3/2;
    margin-bottom: 5px;
    border-radius: 10px;
}

.modalBox button,
.requestModal button {
    color: var(--colorDk);
    padding: 5px;
    border-radius: 5px;
    border: 2px solid rgb(0, 0, 0, 0.6);
    background-color: var(--color4);
}

.modalBox button:hover,
.requestModal button:hover {
    color: var(--colorDk);
    border: 2px solid var(--color4);
    background-color: var(--color1);
}

.modalBtns {
    display: grid;
    gap: 40px;
    margin: 20px;
    grid-template-columns: 1fr 2fr;
    justify-content: center;
    align-items: center;
}

#closeBtn,
#rcloseBtn {
    color: var(--colorDk);
    border-radius: 5px;
    background-color: rgb(0, 0, 0, 0.4);
}

.requestModal img {
    inline-size: 80px;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

/* Search box result */
.serviceList {
    display: grid;
    grid-row: 1fr;
    gap: 5px;
    padding-left: 5px;
    width: 300px;
    margin: auto;
    margin-top: 10px;
    z-index: 1;

}

.serviceList li {
    font-size: 18px;
    padding: 5px 5px 5px 20px;
    margin-top: 5px;
    border-radius: 5px;
    border-bottom: 3px solid var(--color2);
    background-color: var(--color1);
}

/* ## Responsive design ##*/
@media screen and (min-width: 480px) {

    .modalBox,
    .requestModal {
        width: 400px;
    }

    .serviceCircle img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
    }

    .serviceCircle p,
    .serviceBox p {
        font-size: 14px;
    }

    .serviceScroll,
    .serviceScroll2 {
        height: 180px;
    }
}

@media screen and (max-width: 480px) {

    .modalBox,
    .requestModal {
        width: 340px;
    }
}